<style>
    

    .cc {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    </style>
 
<div id="abc"  class="limiter background-dark">

    <div class="cc" >

        <div class="wrap-login100 p-t-30 p-b-50">
            <a  href="/"style="min-width:250px;width:25%;" ><img src="/img/logo1White.png"  alt=""></a>
            <hr>
            <h1>
                Page not found!  
            </h1>
        </div>
    </div>
</div>