@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/ipicon/icomoon.eot?gqgx60');
  src:  url('/fonts/ipicon/icomoon.eot?gqgx60#iefix') format('embedded-opentype'),
    url('/fonts/ipicon/icomoon.ttf?gqgx60') format('truetype'),
    url('/fonts/ipicon/icomoon.woff?gqgx60') format('woff'),
    url('/fonts/ipicon/icomoon.svg?gqgx60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ip-address:before {
  content: "\69";
  font-size:30px;
}
